$main-blue: #15AAC0
$main-gold: #D6BD71
$text-grey: #8F9495
$dark-grey: #393F41
$light-bg: #F0F0F0
$dark-bg: #1A1A1A
$grey-bg: #2F2F2F
$divider-color: #E8E8E8
$font-euro: eurostile-extended, sans-serif
$font-oswald: oswald, sans-serif

@import 'mixins'
@import '_components/components'