.sections-footer-icons
  .nm-footer-bar-inner
    background-color: $light-bg
.section-footer-content
  .nm-footer-bar-inner
    background-color: $dark-bg
.section-footer-copyright
  .nm-footer-bar-inner
    background-color: $grey-bg
