// Shop breadcrumbs/filter homepage
#nm-shop-categories-wrap
  #nm-shop-categories
    li
      text-transform: uppercase
      font-weight: 300
      font-size: 18px
      color: $text-grey
      a
        font-family: $font-oswald
        text-transform: uppercase
        font-weight: 300
        font-size: 18px
        color: $text-grey
    .current-cat
      color: $main-blue
      a
        color: $main-blue