// Main menu
.nm-main-menu-wrap
  .nm-main-menu
    #nm-main-menu-ul
      .menu-item
        a
          font-size: 14px
          text-transform: uppercase
          font-family: $font-euro
      .current-menu-item
        a
          color: $main-blue
.nm-right-menu-wrap
  .nm-right-menu
    #nm-right-menu-ul
      .menu-item-default,
      .menu-item
        a
          font-size: 14px
          text-transform: uppercase
          font-family: $font-euro

.button-d-none
  display: none

@media ( max-width: 768px )
  .button-d-none
    display: block