#nm-shop-products
  .nm-products
    .product
      .nm-shop-loop-product-wrap
        .nm-shop-loop-details
          .nm-shop-loop-title-price
            .woocommerce-loop-product__title
              .nm-shop-loop-title-link
                font-family: $font-oswald
                font-weight: 400
                font-size: 22px
                color: $dark-grey
                text-transform: uppercase
              .price
                font-family: $font-oswald
                font-weight: 300
                font-size: 18px
                color: $dark-grey
                text-transform: uppercase
                .woocommerce-price-suffix
                  text-transform: none

@import 'product'