.woocommerce
  .return-to-shop
    .button.wc-backward
      margin-top: 20px
      @include stricker-button-default
  

#nm-shop-products
  .nm-products
    .product
      .nm-shop-loop-product-wrap
        .nm-shop-loop-details
          .nm-shop-loop-title-price
            .woocommerce-loop-product__title
              .nm-shop-loop-title-link
                font-family: $font-oswald
                font-weight: 400
                font-size: 22px
                color: $dark-grey
                text-transform: uppercase
            .price
              .woocommerce-Price-amount.amount
                font-family: $font-oswald
                font-weight: 300
                font-size: 18px
                color: $dark-grey
                text-transform: uppercase
                .woocommerce-price-suffix
                  text-transform: none

@import 'product'
@import 'cart'
@import 'sign-in'

#nm-widget-panel
  .buttons
    .button.border
      @include stricker-button-default
      border: 1px solid $dark-grey
      &:hover
        border: 1px solid $main-gold
    .button.checkout
      @include stricker-button-primary
      border: 1px solid $main-gold
      &:hover
        border: 1px solid $main-gold